:root{
    /*Colores de fondo*/
    --background-blanco: #FFFFFF;
    --background-llamada-mobile: #00161C;
    --background-azul-claro: #DFE3F5;
    --background-ceniza-claro: #F7F4F4;
    --background-ceniza-medio: #D9D9D9;

    /*Borda*/
    --border-cabecera-mobile: #103D4A;

    /*Botón*/
    --boton-rojo: #B72E2E;

    /*Fuente*/
    --fuente-ceniza-claro: #666666;
    --fuente-ceniza-oscuro: #4F4C4C;
    --fuente-white-light: #f1f1f1;


    /*Enlace*/
    --fuente-enlace: #0006FF;

    /*Footer*/
    --background-footer: #333333;

    /*Font family*/
    --montserrat: 'Montserrat', sans-serif;
    --open-sans: 'Open Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: var(--open-sans);
}

.container {
    padding-right: 6%;
    padding-left: 6%;
}

.boton {
    display: block;
    text-align: center;
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;
    padding: 1rem 2rem;
    border: 1px solid var(--boton-rojo);
    border-radius: 4px;
    cursor: pointer;

}


@media screen and (min-width: 1024px) {
    .container {
        padding-left: calc((100% - 940px)/2);
        padding-right: calc((100% - 940px)/2);
    }
}


