.footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--background-footer);

    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

.footer__home{
    display: flex;
    align-items: center;
    flex-direction: center;
    gap: 12px;
}

.footer__text-logo {
    color: #FF7262;
    font-weight: bold;
    font-size: 22px;
}

.footer__social {
    display: flex;
}

.footer__midia {
    display: block;

    width: 32px;
    height: 32px;

    margin: 2rem 1rem;

}

.footer__navegacion {
    color: var(--background-blanco);
    font-family: var(--open-sans);
    text-align: center;
    line-height: 3;
}


.footer__enlace {
    display: inline-block;

    margin: 0 .5rem .7rem;
}

.footer__enlace:hover{
    color: #FF7262;
}


@media screen and (min-width: 1024px) {
    .footer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    /* .footer__navegacion {
        text-align: left;
        min-width: 600px;
    } */
}