.head {
    color: var(--fuente-white-light);
    width: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 1.75rem;
    padding-bottom: .75rem;
    border-bottom: 1px solid var(--border-cabecera-mobile);
    position: absolute;
}

.head__home{
    display: flex;
    align-items: center;
    flex-direction: center;
    gap: 12px;
}

.head__logo, .head__text-logo {
    margin-bottom: 1rem;
}

.head__text-logo {
    color: #FF7262;
    font-weight: bold;
    font-size: 22px;
}

.head__navegacion {
    text-align: center;
}

.head__enlace {
    font-size: 1.1rem;

    display: inline-block;
    margin-right: .7rem;
    margin-bottom: .7rem;
    margin-left: .7rem;
}

.head__enlace:hover {
    color: #FF7262;
}


@media screen and (min-width: 1024px) {
    .head {
        flex-direction: row;
        justify-content: space-between;
        border: none;
    }
}