.portada  {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--fuente-white-light);
    text-align: center;
    background-image: url(../img/portada-bg.png);

    padding-top: 12.25rem;
    padding-bottom: 2.5rem;
}

.portada__titulo {
    font-family: var(--montserrat);
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;

    margin-bottom: 1.5rem;
}

.portada__texto {
    font-size: 1.25rem;
    line-height: normal;

    margin: 0 auto 2.5rem;
}

.portada__boton {
    width: 100%;
}

@media screen and (min-width: 678px) {
    .portada__texto {
        max-width: 600px;
    }

}

@media screen and (min-width: 1024px) {
    .portada {
        background-image: url(../img/portada-bg.png);
        background-size: cover;

        padding-top: 8.25rem;
    }

    .portada__titulo {
        font-size: 3.25rem;
        margin-bottom: 2rem;
    }
}
